.cart-container {
    position: fixed;
    top: 0;
    right: 0;
    min-height: 100vh;
    width: 30%;
    background-color: var(--red-tide);
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: var(--merri);
}

.cart-close-icon {
    color: #fff;
    font-size: 2rem;
    position: fixed;
    top: 0%;
    right: 0;
    cursor: pointer;
}

.cart-inner {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 90vh;
    width: 100%;
    color: #fff;
}

.cart-empty {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
}

.cart-empty-icon {
    font-size: 10rem;
    margin-bottom: 10px;
}

.cart-empty-text {
    font-size: 2rem;
}

.cart-inner-title {
    border-bottom: 3px solid #000;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
}



.cart-items {
    width: 100%;
    height: 70%;
}

.cart-item-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    border: 2px solid #000;
}

.cart-item-img {
    width: 100px;
}

.cart-item-text-wrap {
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
}

.cart-item-name, .cart-item-price {
    margin: 10px 15px;
}


.cart-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.clear-cart-btn, .checkout-btn {
    margin: 30px auto;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.3rem;
    background-color: rgb(122, 12, 12);
    color: #fff;
    border: none;
    border-radius: 10px;
}

.cart-item-quantity {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quantity-arrow {
    cursor: pointer;
    font-size: 2rem;
}

.quantity-num {
    font-size: 1.5rem;
}

.cart-item-remove-btn {
    padding: 10px 15px;
    border: 2px solid var(--red-tide);
    background-color: var(--whispy-white);
    cursor: pointer;
}

.cart-total {
    width: 100%;
    background-color: rgb(122, 12, 12);
    padding: 10px 15px;
    font-size: 1.5rem;
}








/*MOBILE*/

@media only screen and (max-width: 415px) {
    .cart-container {
        width: 70%;
    }

    .cart-close-icon {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .cart-empty-icon {
        font-size: 8rem;
    }

    .cart-empty-text {
        text-align: center;
        width: 100%;
        font-size: 1.8rem;
    }

    .cart-inner-title {
        font-size: 2.5rem;
    }



    .cart-item-name {
        width: 100%;
    }

    .cart-item-container {
        padding: 15px 20px;
    }

    .cart-btn-container {
        flex-direction: column;
    }
}