.checkout-container {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url("../../../public/img/checkout.jpg"); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    font-family: var(--merri);
  }

.checkout-items-container, .checkout-payment {
  background-color: var(--whispy-white);
  width: 60%;
  margin: 30px auto;
  border-radius: 10px;
}

.checkout-items-container {
  margin-top: 100px;
}


.checkout-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  border: 2px solid #000;
  width: 100%;
}

.checkout-price, .checkout-name, .checkout-quantity {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.checkout-price-col, .checkout-name-col, .checkout-quantity-col {
  font-weight: bold;
  font-size: 1.7rem;
  margin-bottom: 20px;
}


.checkout-img {
  width: 140px;
  border: 2px solid var(--red-tide);
  border-radius: 10px;
}


.checkout-total {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 30px;
  border: 2px solid #000;
  background-color: var(--whispy-white);
  width: 100%;
}

.checkout-total > p{
  font-size: 1.5rem;
  font-weight: bold;
}


.checkout-form {
  width: 50%;
  margin: 10px auto;
}

.checkout-payment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  border: 2px solid #000;

}



.select-menu, .cardholder, .cardyear, .cardcode, .cardnumber {
  font-size: 1.5rem;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid #000;
  width: 100%;
  background-color: transparent;
  margin: 15px auto;
}

.card-year-code {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.cardcode {
  padding-top: 15px;
}

.cardyear, .cardcode {
  margin: 1px 5px;
}

.payment-btn {
  padding: 15px 40px;
  font-size: 1.5rem;
  background: var(--red-tide);
  color: #fff;
  outline: none;
  border: 3px solid var(--red-tide);
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 100%;
  margin: 30px 0;

}

.payment-btn:hover {
  border: 3px solid var(--red-tide);
  background: #fff;
  color: var(--red-tide);
}

.conf-payment-cont {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px 5px;
}

.conf-payment-cont > h3 {
  font-size: 2.4rem;
}

.conf-payment-cont > p {
  font-size: 1.5rem;
  margin-top: 20px;
}



.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.loader-container > p {
  font-size: 2rem;
  margin-top: 20px;
  color: var(--whispy-white);
  text-align: center;
}


.loader  {
    border: 20px solid var(--whispy-white); 
    border-top: 20px solid var(--red-tide); 
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }







/*MOBILE*/

@media only screen and (max-width: 415px) {
  .checkout-items-container, .checkout-payment {
    width: 95%;
  }
  
  .checkout-item {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  
  .checkout-price, .checkout-name, .checkout-quantity{
     width: 100%;
     font-size: 1rem;
     justify-content: space-between;
     margin: 0 20px;
  }

  .checkout-img {
    display: none;
  }







  .conf-payment-cont {
    width: 90%;
    text-align: center;
  }

  .checkout-form {
    width: 90%;
  }

  .cardnumber {
    font-size: 1.3rem;
  }

  .cardcode, .cardyear {
    font-size: 1rem;
  }

  .cardcode {
    padding-top: 10px;
  }
}