/* NAVBAR */
.navbar {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--lobster);
}

.burger-links-container {
    display: none;
    transition: all 1s ease-in-out;
}

.nav-links > a {
    text-decoration: none;
    color: var(--whispy-white);
    font-size: 1.7rem;
    margin: 0 20px;
    transition: all 0.3s ease-in-out;
}

.nav-links > a:hover {
    color: var(--red-meat);
}

.nav-title {
    color: var(--whispy-white);
    font-size: 2rem;
}

.cart-icon-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.cart-icon {
    cursor: pointer;
    font-size: 2rem;
}

.cart-icon-num {
    font-size: 1rem;
    cursor: pointer;
}

.cart-icon-cont:hover {
    color: var(--red-meat);
}









  /*MOBILE*/
@media only screen and (max-width: 415px) {
    .navbar {
        flex-direction: column;
        position: relative;
    }

    .nav-links {
        display: none;
    }

    .nav-title {
        margin-top: 100px;
        font-size: 2.5rem;
    }

    .burger-icon {
        color: var(--whispy-white);
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 2.2rem;
    }

    .cart-icon-cont {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .burger-links-container {
        transition: all 1s ease-in-out;
        background-color: var(--whispy-white);
        height: 100vh;
        width: 70%;
        margin-right: auto;
        position: absolute;
        top: 0;
        left: 0;
    }

    .burger-links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
        height: 100%;
    }
    
    .burger-links > a {
        text-decoration: none;
        color: var(--red-tide);
        font-size: 1.9rem;
        margin: 20px;
        transition: all 0.3s ease-in-out;
    }

    .burger-icon-close {
        color: var(--red-tide);
    }
    
  }