@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100%;
  }

:root {
  /*Colors*/
  --red-meat: #f1705e;
  --red-tide: #ce2711;
  --dark-shadow: rgb(21, 15, 15);
  --whispy-white: rgb(238, 245, 247);


  /*Fonts*/
  --lobster: 'Lobster', cursive;
  --merri: 'League Spartan', sans-serif;
}
